{% extends 'layout.html' %}
			{% block content %}
			<div id="campaign_form">
				<form action="{{ url_for('add_campaign') }}" method="POST">
					<div class="row1">
						<label>Status</label>
						<select class="form-select form-select-sm" aria-label=".form-select-sm example" name="status">
						  <option selected>Open this select menu</option>
						  <option value="Live">Live</option>
						  <option value="Pending">Pending</option>
						  <option value="Cancelled">Cancelled</option>
						  <option value="Paused">Paused</option>
						  <option value="Completed">Completed</option>
						  <option value="Under-delivered">Under-delivered</option>
						</select>
					</div>
					<br>
					<div class="container">
					  <div class="row row">
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">Element #</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="element_id">
							</div>
					    </div>
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">Campaign Name</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="campaign_name">
							</div>
					    </div>
					  </div>
					</div>
					<div class="container">
					  <div class="row">
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">CPM Rate</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="cpm_rate">
							</div>
					    </div>
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">Booked Impressions</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="booked_impressions">
							</div>
					    </div>
					  </div>
					</div>
					<div class="container">
					  <div class="row">
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">Break Sepration</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="break_seperation">
							</div>
					    </div>
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">Targeting</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="targeting">
							</div>
					    </div>
					  </div>
					</div>
					<div class="container">
					  <div class="row">
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="start_date">
							</div>
					    </div>
					    <div class="col">
							<div class="input-group input-group-sm mb-3">
							  <span class="input-group-text" id="inputGroup-sizing-sm">End Date</span>
							  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="end_date">
							</div>
					    </div>
					  </div>
					</div>
					<div>
						<button type="submit" class="btn btn-primary btn-lg">Submit</button>
					</div>
				</form>
			</div>
			{% endblock %}
