{% extends 'layout.html' %}

{% block content %}

<div class="container">
    <div class="col align-items-start">
        <table class="table table-success table-striped">
            <tr>
                <th>Date</th>
                <th>Availability</th>
                <th>Ad Decisions</th>
                <th>Impressions</th>
                <th>FF Impressions</th>
                <th>Normal Speed Impressions</th>
                <th>STR %</th>
                <th>FF %</th>
            </tr>
            <tr>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
                <td>Test</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}